.lamps {
    padding-top: 65px;
    padding-bottom: 65px;
    font-family: "Bebas Neue";
    font-size: 35px;
    line-height: 36px;
    transition: all 2s;

    &__hover {
        display: flex;
        justify-content: space-between;
        width: 277;
        height: 86px;
        padding-top: 32px;
        &__1 {
            background: url('./img/black.png');
            background-size: cover;
            width: 75px;
            height: 80px;
        }
        &__2 {
            background: url('./img/yellow.png');
            background-size: cover;
            width: 75px;
            height: 80px;
        }
        &__3 {
            background: url('./img/blue.png');
            background-size: cover;
            width: 75px;
            height: 80px;
        }
    }
}