.parallax {
    background: #F1F1F1;
    padding-top: 60px;
    padding-bottom: 400px;
    transition: 5s;
    
&__title {
    font-family: 'Bebas Neue';
    font-size: 35px;
    line-height: 36px;
    width: 450px;
    padding-bottom: 78px;
}

&__bg {
    background: linear-gradient(to top, rgba(147, 146, 153, 0.85) 0%, rgba(73, 73, 73, 0.85) 100%), url('./img/okna.png');
    width: 780px;
    height: 402px;
    margin-left: 200px;
    background-size: 100%;
    position: relative;

    &__title {
        position: absolute;
        font-family: 'Bebas Neue';
        font-size: 64px;
        line-height: 64px;
        color: rgb(255, 255, 255);
        transform: translate(92%, -370%);
    }
}
}