<header>
    <div class="header">
        <div class="container">
            <div class="flex-box">
                <div class="header__logo"></div>
                <div class="header__menu">
                    <div class="header__menu__line1">
                        <a class='line1__les1'>Lesson №1</a>
                        <a class='line1__les2'>Lesson №2</a> 
                        <a class='line1__les3'>Lesson №3</a>
                        <a class='line1__les4'>Lesson №4</a>
                        <a class='line1__les5'>Lesson №5</a>
                        <a class='line1__les6'>Lesson №6</a>
                        <a class='line1__les7'>Lesson №7</a>
                        <a class='line1__les8'>Lesson №8</a>
                    </div>
                    <div class="header__menu__line2">
                        <a class='line2__les9'>Lesson №9</a>
                        <a class='line2__les10'>Lesson №10</a> 
                        <a class='line2__les11'>Lesson №11</a>
                        <a class='line2__les12'>Lesson №12</a>
                        <a class='line2__les13'>Lesson №13</a>
                        <a class='line2__les14'>Lesson №14</a>
                        <a class='line2__les15'>Lesson №15</a>
                        <a class='line2__les16'>Lesson №16</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>